// .text-center {
//   text-align: center;
// }

.appointments-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Varela Round', sans-serif;
}

.appointments-container {
  flex: 0 0 800px;


}

// .appointments-container body {
//   margin: 0;
//   margin-bottom: 100px;
//   font-family: 'Varela Round', sans-serif;
// }