// .text-center {
//   text-align: center;
// }

.appointments-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
}
.appointments-container {
  max-width: 900px;
  margin: 50px auto;
  margin: 0;
  margin-bottom: 100px;
  font-family: 'Varela Round', sans-serif;
}

// .appointments-container body {
//   margin: 0;
//   margin-bottom: 100px;
//   font-family: 'Varela Round', sans-serif;
// }
