.flex-container {
  display: flex;
  justify-content: center;
  padding: 2%;

  h3 {
    line-height: 40px;
    color: #999999;
  }

  p {
    color: #000000;
    text-align: justify;
  }
}

.teacher-photo {
  border-radius: 50%;
}

// Left side
.left-column {
  top: 0;
  // padding-top: -10px;
  // padding-left:15px;
  // padding-right:15px;
  padding: 0px 50px;
  text-align: justify;
  // border-top: 1px solid #000000;
}

.flex-subject-description {
  flex: 0 1 450px;
  background-color: #ffffff;
  // border: 1px dotted #000000;
}


// Right side
.flex-info {
  flex: 0 1 300px;
  background-color: #ffffff;
  // margin-left: 30px;
  // border: 1px dotted #000000;
}

.right-column {
  top: 0;

  // border-top: 1px solid #000000;
  label {
    display: none;
  }

  padding: 0px 50px;

  .form-group {
    .form-control {
      display: none !important;
    }
  }
}

.right-column-appointments {}

.flatpickr-calendar {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}