.flex-container {
  display: flex;
  justify-content: center;
  padding: 4%;
}

.flex-info {
  flex: 0 1 350px;
  margin-left: 10px;
}

.flex-subject-description {
  flex: 0 1 600px;
  width: 600px;
}

.teacher-photo {
  border-radius: 50%;
}

.right-column {
  top: 0;
  border-top: 1px solid #000000;
  padding-top: -10px;
  padding-left:15px;
  padding-right:15px;
  padding-bottom: 20px;
  text-align: center;
}

.left-column {
  padding-top: -10px;
  padding-left:15px;
  padding-right:15px;
  border-top: 1px solid #000000;
}

.book-now {
  margin: 30px
}
