@charset "UTF-8";
/*基本文字色*/
/*リンク文字の色 2e3a9c 2a3297 2e3ca1 2d359c 193ca1*/
/*acky 緑色*/
/*acky 緑色 濃い*/
/*acky 緑色 すごく薄い*/
/*グレー 濃い*/
/*グレー 一番薄い f5f5f5*/
/*グレー 中間*/
/*グレー 薄い ebebeb efefef eeeeee f1f1f1*/
/*赤e8374c f61b35*/
/*薄い緑*/
/*コードの緑45b87a 019948*/
/*緑 newマーク*/
/*薄い赤*/
/*もっと薄い赤*/
/*ライン 濃いめ*/
/*ライン 薄め*/
/*グレーライン*/
/*上の余白　大きめ*/
/*上の余白　小さめ*/
/*上の余白　さらに小さめ*/
/*ページの幅*/
/*transitionの秒数*/
/*hoverで動く距離*/
/*tab*/
/*@mixin mq04 {
  @media(max-width: 800px){
    @content;
  }
}*/
/*スマホ*/
/*iphone6s*/
/*iphone5*/
/*@mixin f-s($size) {
	font-size: $size + px;
	font-size: ($size / 10) * 1rem;
}



@mixin m-t($size) {
	margin-top: $size + px;
	margin-top: ($size / 10) * 1rem;
}
@mixin m-b($size) {
	margin-bottom: $size + px;
	margin-bottom: ($size / 10) * 1rem;
}
@mixin m-r($size) {
	margin-right: $size + px;
	margin-right: ($size / 10) * 1rem;
}
@mixin m-l($size) {
	margin-left: $size + px;
	margin-left: ($size / 10) * 1rem;
}

@mixin p-t($size) {
	padding-top: $size + px;
	padding-top: ($size / 10) * 1rem;
}
@mixin p-b($size) {
	padding-bottom: $size + px;
	padding-bottom: ($size / 10) * 1rem;
}
@mixin p-r($size) {
	padding-right: $size + px;
	padding-right: ($size / 10) * 1rem;
}
@mixin p-l($size) {
	padding-left: $size + px;
	padding-left: ($size / 10) * 1rem;
}*/
/* 矢印 主に緑 */
/* ヘッダサブメニューの矢印 */
/* スライダーとかの矢印 */
/* ページパスの矢印 */
/* チェックマーク */
/* ×マーク */
/* ファイルアイコン */
/* 動画矢印アイコン */
/* ＋アイコン */
/* ブランクアイコン */
/* 矢印 ポイント部分の囲み */
/* webfont */
/*
@font-face {
  font-family: Yu Gothic M;
  src: local("Yu Gothic Medium");
}
400がnormal
700がbold

    100 NotoSansJP-Thin.otf
    300 NotoSansJP-Light.otf
    350 NotoSansJP-DemiLight.otf 350指定はエラーなので300か400にする
    400 NotoSansJP-Regular.otf
    500 NotoSansJP-Medium.otf
																 600 フォントがないときはboldになる
    700 NotoSansJP-Bold.otf
    900 NotoSansJP-Black.otf 
*/
@font-face {
  font-family: "NotoSansSubset";
  src: local("NotoSansCJKjp-DemiLight.otf"), local("NotoSansJP-DemiLight.otf"), url(/design/webfont/NotoSansCJKjp-DemiLight.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NotoSansSubset";
  src: local("NotoSansCJKjp-Medium.otf"), local("NotoSansJP-Medium.otf"), url(/design/webfont/NotoSansCJKjp-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NotoSansSubset";
  src: local("NotoSansCJKjp-Bold.otf"), local("NotoSansJP-Bold.otf"), url(/design/webfont/NotoSansCJKjp-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@keyframes fade_in {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade_out {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade_out_opa {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade_in_opa {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}
html {
  color: #414c4e;
  font-size: 10px;
  overflow: auto;
  overflow-y: scroll;
}

html,
main code {
  font-family: "Noto Sans", "Noto Sans CJK JP", NotoSansSubset, "Yu Gothic", YuGothic, Meiryo, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "ＭＳ Ｐゴシック", sans-serif;
}

@media (max-width: 1024px) {
  html,
  main code {
    font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Yu Gothic", YuGothic, Meiryo, sans-serif;
  }
}
body {
  overflow: hidden;
  min-width: 1100px;
  margin: 0;
}

@media (max-width: 1024px) {
  body {
    min-width: 100%;
  }
}
h1, h2, h3, h4, h5, h6 {
  line-height: 2;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media (max-width: 1024px) {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.6;
  }
}
@media (max-width: 740px) {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
  }
}
h1, h2, h3, h4, h5, h6,
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary,
div, span,
p,
ul, ol, li,
dl, dt, dd,
table, tr, th, td,
a, img,
*:after, *:before {
  box-sizing: border-box;
}

figure {
  margin: 0;
  padding: 0;
}

p,
li,
dl,
table {
  /*text-align:justify;
  text-justify:inter-ideograph;
  text-justify:inter-word;*/
  line-break: strict;
  /*word-break: break-strict;*/
  word-wrap: break-word;
  line-height: 2;
  /*@include f-s(15);*/
  font-size: 17px;
  margin-top: 0px;
  margin-bottom: 0px;
}

small {
  font-size: 12px;
}

@media (max-width: 1024px) {
  p,
  li,
  dl,
  table {
    font-size: 16px;
    line-height: 1.7;
  }
}
@media (max-width: 740px) {
  p,
  li,
  dl,
  table {
    line-height: 1.65;
  }
}
/*th,*/
tr {
  word-break: break-all;
}

/*th{
	width:1%;
	white-space:nowrap;
}
*/
.nw {
  white-space: nowrap;
}

/*address,
caption,
cite,
code,
dfn,
em,
th,
var{
	font-style:normal;
	font-weight:normal;
}*/
img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
  /*width:100%;
  height: auto;*/
}

/* --------- 選択した文字色 --------- */
::selection {
  /*background:$c_acky1;
  color:#ffffff;*/
  background: #f7f6c9;
}

::-moz-selection {
  /*background:$c_acky1;
  color:#ffffff;*/
  background: #f7f6c9;
}

/* --------- リンク文字 --------- */
a {
  background: transparent;
  text-decoration: none;
  color: #1a3ea4;
  /*vertical-align:top;*/
  transition: 0.3s;
}

a:focus {
  outline: none;
}

a:hover {
  text-decoration: underline;
}

/*a:active{
	position: relative;
	top: 1px;
	color:#222279;
}*/
/*ios タップ時背景色
a {
  -webkit-tap-highlight-color: transparent;
}*/
/* --------- フロートクリア --------- */
/* --after型-- */
.cfx:after {
  content: "";
  display: block;
  clear: both;
}

/* --overflow型-- */
.cfxo {
  overflow: hidden;
}

/* --------- リストスタイルなし --------- */
ul,
.li_none {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

ol {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

dd,
.dd_0 {
  margin-left: 0;
}

/* --------- リスト戻し --------- */
.ul_normal,
.ol_normal {
  list-style-type: disc;
  margin: 1em 0;
  padding-left: 40px;
}

.ol_normal {
  list-style-type: decimal;
}

/* --------- フォーム --------- */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

select option {
  padding: 0px 5px;
}

form label {
  cursor: pointer;
}

input:placeholder {
  color: #999;
}

input:-ms-input-placeholder {
  color: #999;
}

/* --------- yuga.js ロールオーバー --------- 

.btn{
	border:none;
}
*/

/*# sourceMappingURL=set_cmn.css.map */
