<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 col-sm-6">
      <h1>Log in as a Teacher</h1>
      <%= render 'teachers-form' %>
      <% @teacher.errors %>
    </div>
  </div>
</div>