.banner {
  color: white;
  text-align: center;
  height: 70vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  width: 400px;
  font-size: 46px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-family: Helvetica Neue;
  margin-bottom: 5px;
}

.banner p {
  width: 400px;
  font-size: 21px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 10px;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

.banner-search-bar {
  display: flex;
  width: 400px;
  height: 50px;
}

.container h2 {
  margin-top: 20px;
  margin-bottom: 0px;
}